/********** vars **********/
/* colors */
$brand-color: #f68e01;
$deportes-color: #645398;
$teleshow-color: #014274;
$hover-color: #757575;

/* brack-points */
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

.app-footer-links {
  /* background-color: yellow; */
  padding-inline-start: 0;
  list-style: none;

  @media screen and (min-width: $break-large) {
    column-count: 4;
  }

  .footer-list-item {
    line-height: 20px;
    display: block;
    text-align: left;
    letter-spacing: 0;
    margin: 0;
    padding: 0;

    a {
      color: #333;
      font-size: 14px;
      text-decoration: none;
      text-transform: capitalize;

      &:active {
        color: $hover-color;
        outline: none;
      }

      &:focus {
        outline: none;
      }

      &:hover {
        color: $brand-color;
        outline: none;
      }
    }
  }
}
