/********** vars **********/
/* colors */
$brand-color: #f68e01;

/* brack-points */
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

body {
  color: #000;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.left-column {
  /* padding: 0 16px; */
  /* width: 100%; */

  .sdk-heading {
    .title-game-wrapper {
      .title {
        color: #000;
        font-size: 28px;
        font-weight: bold;
        margin: 0;
      }
    }

    .sdk-difficulty-dropdown {
      .btn-link {
        color: $brand-color;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
      }

      .btn-outline-primary {
        color: #fff;
        background-color: $brand-color;
        border-color: $brand-color;
      }

      .dropdown-toggle::after {
        content: none;
      }
    }
  }

  .sdk-wrapper {
    @media screen and (min-width: $break-large) {
      /* display: flex;
          flex-direction: row;
          padding: 32px; */
    }

    &.card {
      flex-direction: column;
      border-radius: 0.75rem;

      @media screen and (min-width: $break-large) {
        /* flex-direction: row; */
      }
    }

    > div {
      /* padding: 16px; */

      @media screen and (min-width: $break-large) {
        padding: 0px;
      }
    }

    .sdk-board {
    }

    .sdk-dashboard {
      /* padding: 16px; */

      .sdk-difficulty-level {
        &-group {
          .btn-level {
            color: $brand-color;
            border-color: $brand-color;

            &.active {
              background-color: $brand-color;
              color: #fff;
            }
          }
        }
      }

      .sdk-options {
        .sdk-number-options {
          display: grid;
          grid-template-columns: repeat(10, 1fr);
          grid-template-rows: repeat(1, 1fr);
          /* grid-gap: 16px 16px; */
          padding: 16px 0;

          @media screen and (min-width: $break-large) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 64px);
            grid-gap: 16px 16px;
            padding: 16px;
          }

          .choice {
            font-size: 32px;
            line-height: 36px;
            background: none;
            border: none;
            cursor: pointer;

            @media screen and (min-width: $break-large) {
              font-size: 58px;
              line-height: 64px;
            }
          }
        }
      }

      .sdk-helps {
      }

      .btn:focus {
        outline: 0;
        box-shadow: none;
      }

      .btn-sdk {
        &-delete {
          padding: 0 4px;
          border: none;
          background: none;

          @media screen and (min-width: $break-large) {
            grid-column-start: 2;
          }

          &:after {
            display: block;
            content: "";
            height: 28px;
            width: 28px;
            background: url(../img/icons/eraser.svg);
            background-size: contain;

            @media screen and (min-width: $break-large) {
              height: 42px;
              width: 42px;
            }
          }
        }

        &-solve {
          color: #fff;
          font-weight: bold;
          background-color: #d5d5d5;
        }
      }

      .sdk-helps {
      }
    }
  }
}

/*board*/
.board {
  position: relative;
  margin: 0 auto 0 0;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  width: 310px;
  height: 310px;

  @media screen and (min-width: $break-large) {
    width: 420px;
    height: 420px;
  }

  .board-row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border-bottom: 1px solid #000;
    /* margin-bottom: -1px; */
    /* width: 100%;
    height: 11.11111% */

    &:nth-child(1) {
      border-top: 1px solid #000;
    }

    &:nth-child(3n) {
      /* border-bottom: 1px solid #000; */
      /* margin-bottom: -2px; */
    }

    .square {
      width: 100%;
      height: 100%;
      /* float: left; */
      background: rgba(0, 0, 0, 0);
      font-size: 1em;
      font-weight: bold;
      color: #4285f4;
      padding: 0;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #000;
      cursor: pointer;

      @media screen and (min-width: $break-large) {
        font-size: 1.5em;
      }

      &:nth-child(1) {
        border-left: 1px solid #000;
      }

      &:nth-child(3n) {
        border-right: 1px solid #000;
      }

      .highlight {
        background-color: rgba(52, 168, 83, 0.2);
        animation: highlight 2s;
      }

      &.filter {
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.8);
        background-color: rgba(255, 13, 126, 0.2);
        color: #4285f4;
      }
      &.chosen {
        background-color: rgba(155, 204, 20, 0.3);
      }
      &.origin {
        background-color: rgba(200, 200, 200, 0.1);
        color: #ea4335;
      }
      &.origin.highlight {
        background-color: rgba(52, 168, 83, 0.2);
        color: #ea4335;
      }
      &.origin.filter {
        background-color: rgba(255, 13, 126, 0.2);
        color: "#ea4335";
      }
      &.conflict {
        background-color: rgba(255, 0, 0, 0.1);
        font-weight: 800;
      }
      &.origin.conflict {
        background-color: rgba(255, 0, 0, 0.3);
        color: #ea4335;
      }
      &.chosen.conflict {
        background-color: rgba(255, 0, 0, 0.6);
        font-weight: 800;
      }
    }
  }
}

.right-column {
  /* padding: 0 8px; */
  @media screen and (min-width: $break-large) {
    /* flex: 0 1 250px; */
  }
}

.check {
  bottom: 0;
  width: 100%;
  height: 19.44%;
  font-size: 2em;
  transition: background-color 0.5s;

  &::before {
    content: "\1f4a1";
    opacity: 0.7;
    font-size: 2em;
  }

  .checktext {
    position: relative;
    top: 40%;
    width: 100%;
    height: 6em;
    margin: 0;
    text-align: center;
    word-break: break-all;
    font-size: 2em;
    color: #fbbc05;
    filter: blur(12px);

    &.checking {
      filter: blur(0);
    }
  }
}

.hint {
  bottom: 0;
  width: 100%;
  height: 19.44%;
  font-size: 2em;
  transition: background-color 0.5s;

  &::before {
    content: "\1f441";
    opacity: 0.7;
    font-size: 2em;
  }

  &.two {
    background-color: rgba(52, 168, 83, 0.2);
  }
  &.one {
    background-color: rgba(251, 188, 5, 0.2);
  }
  &.zero {
    background-color: rgba(255, 13, 126, 0.2);
  }
}
