/* brack-points */
.app-footer .top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5; }
  @media screen and (min-width: 992px) {
    .app-footer .top-wrapper {
      flex-direction: row; } }
  .app-footer .top-wrapper .footer-logo {
    width: 100%;
    height: auto;
    max-height: 18px; }
    @media screen and (min-width: 992px) {
      .app-footer .top-wrapper .footer-logo {
        width: 96px; } }
  .app-footer .top-wrapper .copyright {
    color: #000;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 0; }
    @media screen and (min-width: 992px) {
      .app-footer .top-wrapper .copyright {
        text-align: left;
        margin: 0 0 0 40px; } }

.app-footer .bottom-wrapper {
  padding: 32px 16px 16px; }
