/********** vars **********/
/* colors */
/* brack-points */
*:focus {
  outline: none !important; }

body {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff; }

.dropdown-menu .btn-level.active {
  color: #000;
  background-color: #fff; }

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff; }

.sdk-difficulty-dropdown {
  display: flex; }
  .sdk-difficulty-dropdown .btn-link {
    color: #f68e01;
    font-weight: 600;
    text-decoration: none;
    padding: 0; }
  .sdk-difficulty-dropdown .btn-outline-primary {
    color: #f68e01;
    background-color: #fff;
    border-color: #f68e01; }
  .sdk-difficulty-dropdown .dropdown > .dropdown-toggle::after {
    content: none !important; }

.left-column .dropdown-menu.show {
  display: block;
  width: 100%; }

.left-column .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 142, 1, 0.5); }

.left-column .show > .btn-outline-primary {
  border: 1px solid #f68e01;
  background: #f68e01;
  color: #fff; }

.left-column .dropdown > .btn-outline-primary:active {
  border: 1px solid #f68e01;
  background: #f68e01;
  color: #fff; }

.left-column .dropdown > .dropdown-toggle::after {
  content: none !important; }

.left-column .show > .dropdrown-item {
  color: #000 !important; }

.left-column .show > .dropdown-item-text {
  font-size: 14px;
  padding: 8px 16px; }

.left-column .show > .dropdown-item-text ~ .dropdown-item {
  font-size: 16px;
  padding: 8px 16px; }

.left-column .show > .dropdown-item.active {
  background: #eeeeee;
  color: #000; }

.left-column .show > .dropdown-item:hover {
  background: #eeeeee;
  color: #000; }

.left-column .show > .dropdown-item:active {
  border: none; }

.left-column .btn-outline-primary {
  color: #f68e01;
  background-color: #fff;
  border-color: #f68e01;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold; }

.left-column .sdk-heading {
  display: flex;
  align-items: flex-end; }
  .left-column .sdk-heading .sdk-difficulty-dropdown .btn-link {
    color: #f68e01;
    font-weight: 600;
    text-decoration: none;
    padding: 0; }
  .left-column .sdk-heading .sdk-difficulty-dropdown .btn-level.active {
    color: #fff;
    text-decoration: none;
    background-color: red !important; }
  .left-column .sdk-heading .sdk-difficulty-dropdown .btn-outline-primary {
    color: #f68e01;
    background-color: #fff;
    border-color: #f68e01; }

.left-column .sdk-wrapper {
  /* .sdk-board {
    } */ }
  @media screen and (min-width: 992px) {
    .left-column .sdk-wrapper {
      /* display: flex;
          flex-direction: row;
          padding: 32px; */ } }
  .left-column .sdk-wrapper.card {
    flex-direction: column;
    border-radius: 0.75rem;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    @media screen and (min-width: 992px) {
      .left-column .sdk-wrapper.card {
        /* flex-direction: row; */
        padding: 1.5rem 1.75rem !important; } }
  .left-column .sdk-wrapper > div {
    /* padding: 16px; */ }
    @media screen and (min-width: 992px) {
      .left-column .sdk-wrapper > div {
        padding: 0px; } }
  .left-column .sdk-wrapper .sdk-dashboard {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /* .sdk-helps {
      } */
    /* .sdk-helps {
      } */ }
    .left-column .sdk-wrapper .sdk-dashboard .sdk-helps {
      width: 100%; }
      .left-column .sdk-wrapper .sdk-dashboard .sdk-helps .btn-sdk-solve {
        border-radius: 4px;
        font-weight: bold;
        font-size: 18px; }
        .left-column .sdk-wrapper .sdk-dashboard .sdk-helps .btn-sdk-solve:hover, .left-column .sdk-wrapper .sdk-dashboard .sdk-helps .btn-sdk-solve:active {
          background-color: #f68e01; }
        .left-column .sdk-wrapper .sdk-dashboard .sdk-helps .btn-sdk-solve.peep {
          font-size: 16px;
          color: #000;
          background-color: #fff;
          pointer-events: none;
          transition: background-color 0.65s; }
    .left-column .sdk-wrapper .sdk-dashboard .sdk-difficulty-level-group .btn-level {
      color: #f68e01;
      border-color: #f68e01; }
      .left-column .sdk-wrapper .sdk-dashboard .sdk-difficulty-level-group .btn-level.active {
        background-color: #f68e01;
        color: #fff; }
    .left-column .sdk-wrapper .sdk-dashboard .sdk-options .sdk-number-options {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
      padding: 16px 0; }
      @media screen and (min-width: 992px) {
        .left-column .sdk-wrapper .sdk-dashboard .sdk-options .sdk-number-options {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 64px);
          grid-gap: 16px 16px;
          padding: 27px 0 27px 0; } }
      .left-column .sdk-wrapper .sdk-dashboard .sdk-options .sdk-number-options .choice {
        font-size: 32px;
        line-height: 36px;
        background: none;
        border: none;
        cursor: pointer; }
        .left-column .sdk-wrapper .sdk-dashboard .sdk-options .sdk-number-options .choice:hover, .left-column .sdk-wrapper .sdk-dashboard .sdk-options .sdk-number-options .choice:active {
          background-color: rgba(238, 238, 238, 0.48);
          border-radius: 3px; }
        @media screen and (min-width: 992px) {
          .left-column .sdk-wrapper .sdk-dashboard .sdk-options .sdk-number-options .choice {
            font-size: 55px;
            line-height: 64px; } }
    .left-column .sdk-wrapper .sdk-dashboard .btn:focus {
      outline: 0;
      box-shadow: none; }
    .left-column .sdk-wrapper .sdk-dashboard .btn-sdk-delete {
      padding: 0 4px;
      border: none;
      background: none; }
      @media screen and (min-width: 992px) {
        .left-column .sdk-wrapper .sdk-dashboard .btn-sdk-delete {
          grid-column-start: 2; } }
      .left-column .sdk-wrapper .sdk-dashboard .btn-sdk-delete:after {
        display: block;
        content: "";
        height: 28px;
        width: 28px;
        background: url(../img/icons/eraser.svg);
        background-size: contain; }
        @media screen and (min-width: 992px) {
          .left-column .sdk-wrapper .sdk-dashboard .btn-sdk-delete:after {
            height: 42px;
            width: 42px; } }
    .left-column .sdk-wrapper .sdk-dashboard .btn-sdk-solve {
      color: #fff;
      font-weight: bold;
      background-color: #d5d5d5; }

/*board*/
.board {
  position: relative;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  width: 342px;
  height: 342px; }
  @media screen and (min-width: 992px) {
    .board {
      width: 420px;
      height: 420px; } }
  .board .board-row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border-bottom: 1px solid #c6c6c6;
    /* margin-bottom: -1px; */
    /* width: 100%;
    height: 11.11111% */ }
    .board .board-row:nth-child(1) {
      border-top: 1px solid #000; }
    .board .board-row:nth-child(3n) {
      border-bottom: 1px solid #000; }
    .board .board-row .square {
      width: 100%;
      height: 100%;
      /* float: left; */
      background: rgba(0, 0, 0, 0);
      font-size: 1em;
      font-weight: bold;
      color: #000;
      padding: 0;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #c6c6c6;
      cursor: pointer; }
      @media screen and (min-width: 992px) {
        .board .board-row .square {
          font-size: 1.5em; } }
      .board .board-row .square:nth-child(1) {
        border-left: 1px solid #000; }
      .board .board-row .square:nth-child(3n) {
        border-right: 1px solid #000; }
      .board .board-row .square .highlight {
        background-color: rgba(52, 168, 83, 0.2);
        animation: highlight 2s; }
      .board .board-row .square.filter {
        background-color: #f69801;
        color: #ffffff; }
      .board .board-row .square.chosen {
        background-color: rgba(246, 152, 1, 0.56);
        color: #ffffff; }
      .board .board-row .square.origin {
        background-color: rgba(200, 200, 200, 0.25);
        color: #000; }
      .board .board-row .square.origin.highlight {
        background-color: #edebec;
        color: #f68e01; }
      .board .board-row .square.origin.filter {
        background-color: #f69801;
        color: #ffffff; }
      .board .board-row .square.conflict {
        background-color: rgba(255, 0, 0, 0.1);
        font-weight: 800;
        color: #ea4335; }
      .board .board-row .square.origin.conflict {
        background-color: rgba(255, 0, 0, 0.3);
        color: #ea4335; }
      .board .board-row .square.chosen.conflict {
        background-color: rgba(255, 0, 0, 0.6);
        font-weight: 800;
        color: #000; }

.right-column {
  /* padding: 0 8px; */ }
  @media screen and (min-width: 992px) {
    .right-column {
      /* flex: 0 1 250px; */ } }

.check {
  bottom: 0;
  width: 100%;
  height: 19.44%;
  font-size: 2em;
  transition: background-color 0.5s; }
  .check::before {
    content: "\1f4a1";
    opacity: 0.7;
    font-size: 2em; }
  .check .checktext {
    position: relative;
    top: 40%;
    width: 100%;
    height: 6em;
    margin: 0;
    text-align: center;
    word-break: break-all;
    font-size: 2em;
    color: #fbbc05;
    filter: blur(12px); }
    .check .checktext.checking {
      filter: blur(0); }

.hint {
  bottom: 0;
  width: 100%;
  height: 19.44%;
  font-size: 2em;
  transition: background-color 0.5s; }
  .hint::before {
    content: "\1f441";
    opacity: 0.7;
    font-size: 2em; }
  .hint.two {
    background-color: rgba(52, 168, 83, 0.2); }
  .hint.one {
    background-color: rgba(251, 188, 5, 0.2); }
  .hint.zero {
    background-color: rgba(255, 13, 126, 0.2); }

/* confirm modal */
body.react-confirm-alert-body-element {
  overflow: auto; }
  body.react-confirm-alert-body-element .react-confirm-alert-body {
    font-family: Arial, Helvetica, sans-serif;
    width: initial;
    padding: 24px;
    text-align: left;
    background: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #000; }
    body.react-confirm-alert-body-element .react-confirm-alert-body h1 {
      font-size: 32px; }
    body.react-confirm-alert-body-element .react-confirm-alert-body .react-confirm-alert-button-group {
      justify-content: flex-end;
      margin-top: 32px; }
      body.react-confirm-alert-body-element .react-confirm-alert-body .react-confirm-alert-button-group button {
        width: 72px;
        color: #fff;
        background: #f68e01;
        margin-right: 0px;
        margin-left: 16px;
        border-radius: 3px; }
